---
// layout
import BaseLayout from '../layouts/BaseLayout.astro';

// components
import { Image } from "astro:assets";
import { fade } from "astro:transitions";
import imgPortrait from '../content/about/40ftslinky_Jez.jpg';

// content
const uniqueID = "about";
const pageTitle = "About";
const metaTitle = "About meta Title tbc";
const metaDescription = "About page meta description tbc";
const pageHead = "Small footprint, big steps.";
const pageDesc = "40ftSlinky is a multi-disciplinary agency dedicated to partnering with individuals and organisations to help develop progressive brands and create multi-channel experiences that deliver results.";
const pageContent = "About page content tbc";

---

<BaseLayout
	uniqueID={uniqueID} 
	pageTitle={pageTitle} 
	metaTitle={metaTitle} 
	metaDescription={metaDescription}
	pageHead={pageHead}
	pageDesc={pageDesc}
	pageContent={pageContent}
>
	<section>

		<h1 class="text-gradient" transition:animate={fade({ duration: '1s' })} >{pageHead}</h1>

		<h2 class="subtitle">{pageDesc}</h2>

		<p>We assemble unique teams from a diverse pool of expert collaborators, and respond flexibly to each brief without the hassle of a large agency.</p> 

			<p>We solve problems for your brands.</p>

			<p>Led by Jeremy Nicholson founder and primary creative 40ftSlinky <strong>blah blah blah..</strong>.</p>
				
			<div class="img_wrap">
				<Image 
					class="portrait" 
					src={imgPortrait} 
					alt="40ftSlinky" 
					width={400}
				/>
			</div>

			<p>Jeremy has worked in Sydney, Melbourne and Canberra for more than 20 years across brand, digital product and print. He has experience in both private (agency land) and public (Australian Government departments and statutory bodies) sectors and serviced local and international clients developing brands, corporate identity, digital presence, applications, marketing materials and publications through his businesses and nom-de-plume (40ftSlinky, Blandmine and Bland Design).</p> 

			<p>After spending the late '90s and early naughties in the publishing industry producing educational materials, marketing collateral and national advertising campaigns, Jeremy spent the next decade creating award-winning covers and layout for books as diverse as dictionaries, true-crime biographies, military histories, literary fiction and mass market fiction (including International Bestseller Matthew Reilly). The last decade has seen Jeremy branch into "ad-land," producing traditional advertising, marketing and brand design, art directing and designing campaigns and products for the education, energy, financial and healthcare sectors. His interest in all things digital has led to a pivot into digital product development, digital strategy and marketing. An experienced CX and UX designer and frontend developer with broad knowledge of industry standard CMS and CRM platforms, social marketing and digital platforms as well as the latest development trends – Jeremy is a true unicorn creative – comfortable in the print world and the digital realm.</p> 

			<p>While able to troubleshoot almost anything, he also brings to the table:

				<ul>
					<li>creative and art direction</li>

					<li>identity design</li>

					<li>illustration and photography</li>

					<li>graphic design</li>

					<li>typography</li>

					<li>packaging</li>

					<li>finished art</li>

					<li>web design</li>

					<li>interface design</li>

					<li>communication solutions</li>

					<li>digital media</li>

					<li>production</li>

					<li>animation</li>

					<li>motion design</li>

					<li>print production and prepress…</li>


				</ul>

			<p>and the ability to understand a clients needs to develop the appropriate solution.</p>

			<!-- <p>Anyway, enough about him - what about you? If you need a fulltime or contract creative able to produce a digital solution, develop a brand, marketing strategy, advertising campaign or design and produce an annual report - contact him:</p> -->

		</div>

		<div class="content">
			<p>40ftSlinky is a design and development creative practice, led by Jeremy Nicholson. We make things, from beginning to end. We welcome any project to work with good people on interesting ideas, whether it be building brands or building digital ideas.</p>

			<ul>
				<li>Digital Services</li>
				<li>Technology Strategy</li>
				<li>E-Commerce</li>
				<li>UX / UI Design</li>
				<li>Product Design</li>
				<li>Prototyping</li>
				<li>Interaction & Motion</li>
				<li>Web Applications</li>
				<li>Systems Building</li>
				<li>Creative Services</li>
				<li>Brand Identity</li>
				<li>Creative Direction</li>
				<li>Strategy and Positioning</li>
				<li>Narrative</li>
				<li>Art Direction</li>
				<li>Publication Design</li>
				<li></li>
				<li>(MorebyMore)</li>
			</ul>
		</div>

		<div class="content">
			<h2>... example</h2>		
			<p>
				wkshps.com/
			</p>
		</div>

		<div class="contact">
			<!-- <Form /> -->
		</div>

		
	</section>

	<section class="services">
		<div class="row">
			<div class="column col_title">
				<div class="title">
					<h2>Services</h2>
					<p>Strategy. Brand Experience. Digital Experience. Content. Technology. We build brands and deliver products that perform.</p>
				</div>
			</div>
			<div class="column col_content">
				<div class="flex-wrap">                
					<div class="card">
						<h4>Brand strategy</h4>
						<p>Lorem - brand strategy represents the core of your brand</p>
					</div>
					<div class="card">
						<h4>Brand Identity</h4>
						<p>Lorem - much more than just a logo and a font.</p>
					</div>
					<div class="card">
						<h4>Strategy</h4>
						<p>We help you identify, plan, and achieve your short, medium, and long term goals and company objectives.</p>
					</div>
					<div class="card">
						<h4>Motion</h4>
						<p>Using motion to enhance your brands and digital experiences and ensure you stand out in the crowded digital world of today.</p>
					</div>
					<div class="card">
						<h4>Production</h4>
						<p>From creative to production, post-production, and distribution, our team of experienced writers, directors, and producers work to ensure the best projects are executed and delivered. We collaborate with you to create (personalized) video messages for all sorts of platforms, including websites, social media, and YouTube.</p>
					</div>
					<div class="card">
						<h4>Development</h4>
						<p>We help you bring your ideas to life through immersive experiences and beautifully-designed interfaces. We empower your business with the latest technologies and tools to help you grow and succeed.</p>
							Multi-disciplinary development team of designers, engineers, project managers, and strategists. We work with you to create a strategy that will help you reach your target audience and grow your business.
						</p>
					</div>
					<div class="card">
						<h4>Consultancy</h4>
						<p>We help you identify, plan, and achieve your short, medium, and long term goals and company objectives.</p>
					</div>
					<div class="card">
						<h4>Content</h4>
						<p>We turn your low-fi designs into hi-fi prototypes that feel like the real thing, perfect for grasping demand.</p>
					</div>
					<div class="card">
						<h4>Marketing</h4>
						<p>We help you bring your ideas to life through immersive experiences and beautifully-designed interfaces.</p>
					</div>
					<div class="card">
						<h4>AV</h4>
						<p>Storytelling through motion, sound, and film. Motion, sound design, editing, and 3D intrigue, inform, and entertain.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

</BaseLayout>

<style>
	.img_wrap {
		/* display: flex;
		justify-content: center;
		align-items: center; */
	}

	.portrait {
		border-radius: 0;
	}

	.content {
		margin: 2rem 0;
	}

	ul {
		list-style-type: none;
	}

	ul li {
		margin: 0.5rem 0;
	}

	ul li.checkmark::before {
		content: "✔️ ";
	}

	ul li.cross::before {
		content: "❌ ";
	}

	</style>