---
// layout
import BaseLayout from '../layouts/BaseLayout.astro';

// components
import { Image } from "astro:assets";
import { fade } from "astro:transitions";
import Bio from '../components/Bio.astro';
import Services from '../components/Services.astro';

// content
const uniqueID = "about";
const pageTitle = "About";
const metaTitle = "About meta Title tbc";
const metaDescription = "About page meta description tbc";
const pageHead = "Small footprint, big steps.";
const pageDesc = "40ftSlinky is a multi-disciplinary agency dedicated to partnering with individuals and organisations to help develop progressive brands and create multi-channel experiences that deliver results.";
const pageContent = "About page content tbc";

---

<BaseLayout
	uniqueID={uniqueID} 
	pageTitle={pageTitle} 
	metaTitle={metaTitle} 
	metaDescription={metaDescription}
	pageHead={pageHead}
	pageDesc={pageDesc}
	pageContent={pageContent}
>
	<section class="about">
		<div class="row ">
			<div class="column ">
				<h1 class="text-gradient" transition:animate={fade({ duration: '1s' })} >{pageHead}</h1>
				<h2 class="subtitle">{pageDesc}</h2>
			</div>
		</div>
	</section>

	<section class="animate fade-up">
		<div class="row has-divider">
			<div class="column col_title">

				<h2>Who we are</h2>

			</div>
		
			<div class="column col_content  fade-up">
				
				<div class="content">

					<p>40ftSlinky is a design and development creative practice, working in corporate and public sectors, with local and international clients.</p> 
					
					<p>We make things, from beginning to end and welcome any project to work with good people on interesting ideas, building brands and digital ideas.</p>

					<p>We work with design, development, production, strategy and everything in between. We solve problems for your brands.</p>

					<p>We assemble unique teams from a diverse pool of expert collaborators working across disciplines to respond flexibly to each brief without the hassle of a large agency.</p> 
					
					<p>We are specialists working collaboratively across disciplines to find adaptive, creative solutions turning ordinary into something special. </p>

					<p>Our comprehensive offering of services, capabilities and tools includes creative, strategy, media, brand, social, production and more.</p>

					<p>... removing friction from storytelling unlocks creativity at scale.</p>

				</div>	
					
				

				<div class="content fade-up">
					
					<blockquote>
						<p>“It may well be that creativity is the last unfair advantage we're legally allowed to take over our competitors.”</p>
						<credit>Bill Bernbach</credit>
					</blockquote>
				</div>				

			</div>
			<!-- / col -->
		</div>
		<!-- / row -->
	</section>

	<Bio></Bio>

	<Services></Services>

</BaseLayout>

<style>
	h1 {
		max-width: 12ch;
	}

	.portrait_wrap {
		/* display: flex;
		justify-content: center;
		align-items: center; */
		aspect-ratio: 1/1;
		width: 30vw;
		height: 30vw;
		overflow: hidden;
		margin-bottom: 4rem;
	}

	.portrait {
		border-radius: 0;
		max-width: unset;
		width: 30vw;
		/* height: 30vw; */
	}

	.content {
		margin: 2rem 0;
	}

	ul {
		list-style-type: none;
	}

	ul li {
		margin: 0.5rem 0;
	}

	ul li.checkmark::before {
		content: "✔️ ";
	}

	ul li.cross::before {
		content: "❌ ";
	}

	blockquote {
		font-style: italic;
		font-size: 2.25vw;
		line-height: 1.5;
		margin: 2rem 0;
		max-width: 30ch;
	}

	</style>