---

import BaseLayout from '../layouts/BaseLayout.astro';
import { fade } from "astro:transitions";

const uniqueID = "contact";
const pageTitle = "Contact";
const metaTitle = "Contact us. meta Title tbc";
const metaDescription = "Contact page meta description tbc";
const pageHead = "Let’s stay in touch.";
const pageDesc = "We’ve worked with clients in government and businesses across Australia and around the world. We’d love to work with you. Let’s start something special.";
const pageContent = "Fill in the form below. We're looking forward to starting our journey together.";

// component imports
import Form from '../components/Form.astro';


---

<BaseLayout
	uniqueID={uniqueID} 
	pageTitle={pageTitle} 
	metaTitle={metaTitle} 
	metaDescription={metaDescription}
	pageHead={pageHead}
	pageDesc={pageDesc}
	pageContent={pageContent}
>
	

	<section class="hero">
		<h1 class="text-gradient" transition:animate={fade({ duration: '1s' })} >{pageHead}</h1>
		<div class="hero-content">
			<h2 class="subtitle">{pageDesc}</h2>
			<!-- conditionally render CTA -->
			
		</div>
	</section>

	<section class="portfolio animate">
		<div class="row has-divider">
			<div class="column col_title">
				<h2>Touch base</h2>
			</div>
			
			<div class="column col_content">
				<div class="content">
	
					<p >{pageContent}</p>
	
					<Form ></Form>
				</div>
			</div>
		</div>


	</section>

	

</BaseLayout>