---

import BaseLayout from '../layouts/BaseLayout.astro';
import { fade } from "astro:transitions";

const uniqueID = "contact";
const pageTitle = "Contact";
const metaTitle = "Contact meta Title tbc";
const metaDescription = "Contact page meta description tbc";
const pageHead = "Contact Heading";
const pageDesc = "Contact page description tbc";
const pageContent = "Contact page content tbc";

---

<BaseLayout
	uniqueID={uniqueID} 
	pageTitle={pageTitle} 
	metaTitle={metaTitle} 
	metaDescription={metaDescription}
	pageHead={pageHead}
	pageDesc={pageDesc}
	pageContent={pageContent}
>
	<section>

		<h1 class="text-gradient" transition:animate={fade({ duration: '1s' })} >{pageHead}</h1>

		<p>{pageDesc}</p>

		
	</section>

	

</BaseLayout>