---

import BaseLayout from '../layouts/BaseLayout.astro';
import { fade } from "astro:transitions";

const uniqueID = "contact";
const pageTitle = "Contact";
const metaTitle = "Contact meta Title tbc";
const metaDescription = "Contact page meta description tbc";
const pageHead = "Contact";
const pageDesc = "Let's stay in touch. Fill in the form below and we'll get back to you as soon as possible.";
const pageContent = "Contact page content tbc";

// component imports
import Form from '../components/Form.astro';


---

<BaseLayout
	uniqueID={uniqueID} 
	pageTitle={pageTitle} 
	metaTitle={metaTitle} 
	metaDescription={metaDescription}
	pageHead={pageHead}
	pageDesc={pageDesc}
	pageContent={pageContent}
>
	<section>

		<h1 class="text-gradient" transition:animate={fade({ duration: '1s' })} >{pageHead}</h1>

		<p>{pageDesc}</p>

		
		<Form ></Form>


	</section>

	

</BaseLayout>