---
// components
// import Welcome from '../components/Welcome.astro';
// import Content from '../components/Content.astro';
import Grid from '../components/Grid.astro';
// import ClientListing from '../components/ClientListing.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Clients from '../components/Clients.astro';
import Services from '../components/Services.astro';
import Capabilities from '../components/Capabilities.astro';


// **** import Layout from '../layouts/Layout.astro';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';
import { fade } from "astro:transitions";

// content
const uniqueID = "home";
const pageTitle = "40ftSlinky - Creative Agency";
const metaTitle = "meta title tbc";
const metaDescription = "meta description tbc";
const pageHead = "Transforming your brand to reach the next level.";
const pageDesc = "40ftSlinky is a boutique creative agency delivering imaginative and effective brand & strategy with digital, print & motion solutions.";
// a boutique agency that thrives at the intersection of design, data, and technology. Together, we’re focused on transforming brands and culture — across the world.
const pageContent = "";

import { Image } from "astro:assets";

// import content
import { getCollection } from 'astro:content';


// Content Fetching: List four most recent work projects
const projects = (await getCollection('projects'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 4);


---

<BaseLayout 
	uniqueID={uniqueID} 
	pageTitle={pageTitle} 
	metaTitle={metaTitle} 
	metaDescription={metaDescription}
>

	<!-- <Content 
		pageHead={pageHead}
		pageDesc={pageDesc}
		pageContent={pageContent}
	/></Content> -->

	<section class="hero">
		<h1 class="text-gradient" transition:animate={fade({ duration: '1s' })} >{pageHead}</h1>
		<div class="hero-content">
			<h2 class="subtitle">{pageDesc}</h2>
			<p >{pageContent}</p>
			<!-- conditionally render CTA -->
		  
		</div>
	</section>

	<section class="portfolio animate">
		<div class="row has-divider">
			<div class="column col_title">
				<h2>Projects</h2>
			</div>
			
		</div>
		<div class="gallery">
			<Grid variant="large">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</div>
	</section>

	<Clients></Clients>

	<Services></Services>

	<Capabilities></Capabilities>


</BaseLayout>

<style is:global>
	/* Add your global styles here */
	main {
		/* padding-top: var(--sectionpadding); */
	}

	.section.title {
		max-width: 45ch;
	}

	.clients h2 {
        max-width: 10ch;
    }

    .clients h4 {
        /* font-size: 1.5rem; */
        margin-bottom: 1rem;
    }
    .clients h6 {
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    .clients p {
        /* font-size: 1rem; */
        line-height: 1.5;
        max-width: 30ch;
    }

	.portfolio .grid.large .card  {
		height: auto;
		width: var(--max-col-width);
		max-width: unset;
	}
	
	@media (min-width: 50em) {
		/* override grid styles */
		.portfolio .grid.large .card  {
			max-height: var(--max-body-height);
			width: var(--max-col-width);
			max-width: unset;
		}
	}
	
</style>