---
// components
// import Welcome from '../components/Welcome.astro';
// import Content from '../components/Content.astro';
import Grid from '../components/Grid.astro';
import ClientListing from '../components/ClientListing.astro';


// **** import Layout from '../layouts/Layout.astro';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';
import { fade } from "astro:transitions";



const uniqueID = "home";
const pageTitle = "40ftSlinky - Creative Agency";
const metaTitle = "meta title tbc";
const metaDescription = "meta description tbc";
const pageHead = "Transforming your brand to reach the next level.";
const pageDesc = "40ftSlinky is a boutique creative agency delivering imaginative and effective brand & strategy with digital, print & motion solutions.";
// a boutique agency that thrives at the intersection of design, data, and technology. Together, we’re focused on transforming brands and culture — across the world.
const pageContent = "";

---

<BaseLayout 
	uniqueID={uniqueID} 
	pageTitle={pageTitle} 
	metaTitle={metaTitle} 
	metaDescription={metaDescription}
>

	<!-- <Content 
		pageHead={pageHead}
		pageDesc={pageDesc}
		pageContent={pageContent}
	/></Content> -->

	<section class="hero">
		<h1 class="text-gradient" transition:animate={fade({ duration: '1s' })} >{pageHead}</h1>
		<div class="hero-content">
		  <h2>{pageDesc}</h2>
		  <p >{pageContent}</p>
		  <!-- conditionally render CTA -->
		  
		</div>
	  </section>

	  <section class="clients">
		<div class="section title">
			<h2>Partners & Clients</h2>
			<p>We are not confined to a particular sector or restricted by the size or scope of our clients. We enjoy working across industries, whether it is entertainment, luxury, web3 or e-commerce.</p>
		</div>
		<div class="gallery">
			<Grid variant="small">
				<ClientListing></ClientListing>
			</Grid>
		</div>
	</section>

	<section class="services">
		<div class="section title">
			<h2>Capabilities</h2>
			<p>Our services are designed to help you achieve your goals. We work with you to create a strategy that will help you reach your target audience and grow your business.</p>
		</div>
		<div class="gallery">
			<Grid variant="medium">
				
				<div class="card">
					<h4>Brand strategy</h4>
					<p>Lorem - brand strategy represents the core of your brand</p>
				</div>
				<div class="card">
					<h4>Brand Identity</h4>
					<p>Lorem - much more than just a logo and a font.</p>
				</div>
				<div class="card">
					<h4>Strategy</h4>
					<p>We help you identify, plan, and achieve your short, medium, and long term goals and company objectives.</p>
				</div>
				<div class="card">
					<h4>Motion</h4>
					<p>Using motion to enhance your brands and digital experiences and ensure you stand out in the crowded digital world of today.</p>
				</div>
				<div class="card">
					<h4>Production</h4>
					<p>From creative to production, post-production, and distribution, our team of experienced writers, directors, and producers work to ensure the best projects are executed and delivered. We collaborate with you to create (personalized) video messages for all sorts of platforms, including websites, social media, and YouTube.</p>
				</div>
				<div class="card">
					<h4>Development</h4>
					<p>We help you bring your ideas to life through immersive experiences and beautifully-designed interfaces. We empower your business with the latest technologies and tools to help you grow and succeed.</p>
						Multi-disciplinary development team of designers, engineers, project managers, and strategists. We work with you to create a strategy that will help you reach your target audience and grow your business.
					</p>
				</div>
				<div class="card">
					<h4>Consultancy</h4>
					<p>We help you identify, plan, and achieve your short, medium, and long term goals and company objectives.</p>
				</div>
				<div class="card">
					<h4>Content</h4>
					<p>We turn your low-fi designs into hi-fi prototypes that feel like the real thing, perfect for grasping demand.</p>
				</div>
				<div class="card">
					<h4>Marketing</h4>
					<p>We help you bring your ideas to life through immersive experiences and beautifully-designed interfaces.</p>
				</div>
				<div class="card">
					<h4>AV</h4>
					<p>Storytelling through motion, sound, and film. Motion, sound design, editing, and 3D intrigue, inform, and entertain.</p>
				</div>
			</Grid>
		</div>
	</section>


</BaseLayout>

<style is:global>
	/* Add your global styles here */
	main {
		/* padding-top: var(--sectionpadding); */
	}

	.section.title {
		max-width: 45ch;
	}
</style>