---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
   imagePath?: string | undefined;
   altText?: string | undefined;
   name?: string | undefined;
}

const { imagePath, altText='', name='' } = Astro.props;

// imports all files that end with `jpeg,jpg,png,gif,svg,webp` in `/src/assets/clients/`
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/clients/*.{jpeg,jpg,png,gif,svg,webp}');
if (!imagePath || !images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/clients/*.{jpeg,jpg,png,gif,svg}"`);



// const images = await Astro.glob(
//         "src/assets/clients/*.{jpg,JPG,jpeg,png,PNG,webp,svg,SVG,gif,GIF}"
//     ).then((files) => {
//         return files.map((file) => file.default); // Map each file to its default export (the src).
// });
---


<li class="client_list_item">
    <div class="faux_link">
        <h6 hidden>{name}</h6>
        <Image class={name} src={images[imagePath]()} alt={altText} />
    </div>
</li>    

<style>

    
    .client_list_item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .client_list_item img {
        /* max-height: 12rem; */
        max-height: 7vw;
        max-width: 140px;
        /* mix-blend-mode:luminosity; */
        transition: var(--transition-fast);
        filter: grayscale(100%) opacity(0.8);
    }
    @media screen and (max-width: 50em) {
        .client_list_item img {
            max-width: 25vw;
        }
    }

    @media screen and (max-width: 32.5em) {
        .client_list_item img {
            max-width: 40vw;
        }
    }

    @media screen and (min-width: 67.5em) {
        .client_list_item img {
            max-height: 5vw;
        }
    }
    

    .faux_link {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transform:none;
        transform-origin: center;
        transition: var(--transition);
    }
    .faux_link:hover {
        /* opacity: 0.8; */
        transform: scale(1.05);
        transition: var(--transition);
    }
    .client_list_item .faux_link:hover img {
        /* mix-blend-mode: normal; */
        filter: grayscale(0) opacity(1);

    }  
    
    /* img[class*="epworth"], 
    img[class*="NFSA"],
    img[class*="NSW"], 
    img[class*="Melb"] {
        height: 5vw !important;
    } */
    
</style>