---

import { resolveMediaPath } from '../utils/resolveMediaPath';


const { frontmatter } = Astro.props;
const video = frontmatter.video;
const videoPoster = resolveMediaPath(video?.poster);
const videoUrl = resolveMediaPath(video?.url);


---

<div class="video_wrap">
	<video class="video" controls
		width={video.width} 
		height={video.height} 
		transition:persist
		autoplay={false}
		loop={false}		
		poster={videoPoster}
	> 
		<source src={videoUrl} type="video/mp4" />
		Your browser does not support the video tag.
	</video>
</div>