---


const { frontmatter } = Astro.props;


---

<div class="video_wrap">
	<video class="video "
		width={frontmatter.video.width} 
		height={frontmatter.video.height} 
		transition:persist
		autoplay={false}
		loop={false}
		poster={frontmatter.video.poster}
	> 
		<source src={frontmatter.video.url} type="video/mp4" />
		Your browser does not support the video tag.
	</video>
</div>