---


// Components
// import Meta from '../components/Meta.astro';
import MainHead from '../components/MainHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// styles
import '../styles/styles.css';
// import '../styles/global.css';
// import '../styles/navigation.css';
// import '../styles/typography.css';
// import '../styles/colours.css';
// import '../styles/animations.css';


// props
const { uniqueID, pageTitle, metaTitle, metaDescription } = Astro.props;

---


<html lang="en">

	<MainHead 
		pageTitle={pageTitle} 
		metaTitle={metaTitle} 
		metaDescription={metaDescription} 
	/>


	<body id={uniqueID}>
		<div class="noise" ></div>
		<div class="overlay_effect"></div>

		<!-- header -->
		<Header />

		<div id="container">
			<!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
			<main>

				

				<!-- slot -->
				<slot />
		
			</main>
		</div>

		<Footer />

		<!-- // This code is inlined in the head to make it instant & blocking. -->
		<script is:inline>

		</script>
		
		<!-- relative path to script at `src/scripts/local.js` -->
		<!-- <script src="../scripts/scroll.js"></script> -->
	
		<script  >
			// document.querySelector('.hamburger')?.addEventListener('click', () => {
			//   document.querySelector('.nav-links')?.classList.toggle('expanded');
			// });
			import "../scripts/menu.js";
			import "../scripts/scroll.js";
			import "../scripts/cursor.js";
			import "../scripts/video-pause.js";
			import "../scripts/carousel.js";
		</script>  
	
	</body>


</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
