---
import BaseLayout from './BaseLayout.astro';
import { fade } from "astro:transitions";

// import { Image } from "astro:assets";

const { frontmatter } = Astro.props;

---

<BaseLayout 
    uniqueID={frontmatter.uniqueID}
    pageTitle={frontmatter.title} 
    metaTitle={frontmatter.metaTitle} 
    metaDescription={frontmatter.metaDescription}
    pageHead={frontmatter.head}
    pageDesc={frontmatter.description}
	pageContent={frontmatter.content}
    image={frontmatter.image}
    video={frontmatter.video}
>

    <section class="hero content frontmatter">
        <h1 class="text-gradient" transition:animate={fade({ duration: '1s' })} >{frontmatter.title}</h1>
        <div class="hero-content">
            <!-- <h2 class="subtitle">{pageDesc}</h2> -->
            <p >{frontmatter.description}</p> 
            <!-- conditionally render CTA -->
            
        </div>
    </section>

    <section class="portfolio animate">
        <div class="row has-divider">
            <div class="column ">
                <!-- <h2>Projects</h2> -->
            
    
                <div class="tags">
                    {
                        frontmatter.tags.map((tag: string) => (
                            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
                        ))
                    }
                </div>
                <!-- <Image src={frontmatter.image.url} width={frontmatter.image.width} height={frontmatter.image.height} alt={frontmatter.image.alt} /> -->
                <div class="video_wrap">
                    <video class="video "
                        width={frontmatter.video.width} 
                        height={frontmatter.video.height} 
                        transition:persist
                        autoplay={false}
                        loop={false}
                        poster={frontmatter.video.poster}
                    > 
                        <source src={frontmatter.video.url} type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                </div>

            </div>

        </div>


    </section>


    <section class="content">
        
        <slot />

    </section>

    <section class="endmatter">

        <div class="hidden" hidden>  
            <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
            <p>Written by: {frontmatter.author}</p>
        </div>

    </section>

</BaseLayout>


<style type="text/css">
    .image_wrap picture img {
      width: 100%;
      min-width: var(--max-width-col);
      height: auto;
    }
  </style>
  